/*
* @Author: Administrator
* @Date:   2017-10-25 17:18:14
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-25 19:10:01
*/
.header .logo{
	position: absolute;
	display: block;
	left: 130px;
	top: 34px;
	font-size: 36px;
	color: #c60023;
	font-weight: bold;
}

.header .search-con{
	padding: 40px 0 30px 250px;
}

.header .search-con .search-input{
	width: 550px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 15px;
	border: 2px solid #c60023;
	outline: none;
}
.header .search-con .search-btn{
	position: absolute;
	height: 44px;
	width: 80px;
}