/*
* @Author: Administrator
* @Date:   2017-10-24 12:19:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-24 12:30:09
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
}